* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 35px;
  margin: 0px 0px 0px 0px;
}

.quote-div {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem;
  padding: 1rem;
  border-radius: 0.2rem;
  height: 10.5rem;
}

#button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: 0.01rem solid #ffff;
  margin: 0 0.3rem 0.3rem 0;
  font-weight: 300;
  text-align: center;
  margin-left: 3rem;
  border-radius: 0.3rem;
}

#button:hover {
  cursor: pointer;
}

#h2 {
  text-align: center;
  max-width: 50rem;
}
