* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 35px;
  margin: 0px 0px 0px 0px;
}

.quote-div {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#h2 {
  text-align: center;
}
